{% extends 'official/partials/base.html' %}
{% load static %}
{% block content %}

<style>
    .avathars{
        position: relative;
        display: inline-block;
    }
</style>

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Banner Adding</h3>
            <ul class="breadcrumb">
                <li class=""><a href="{% url 'official:officialhome' %}">Dashboard / </a>
                </li>
                <li class="breadcrumb-item active">&nbsp;Banner</li>
            </ul>
        </div>
        <div class="col-auto">
            <a href="" class="btn btn-primary me-1" data-bs-toggle="modal" data-bs-target="#home-page">
                <i class="fas fa-plus"></i> Home Banner
            </a>
            <a href="" class="btn btn-primary me-1" data-bs-toggle="modal" data-bs-target="#new-page">
                <i class="fas fa-plus"></i> New-Arrival Banner
            </a>
            <a href="" class="btn btn-primary me-1" data-bs-toggle="modal" data-bs-target="#product-page">
                <i class="fas fa-plus"></i> Product Banner
            </a>
        </div>
    </div>
</div>



<div class="col-md-12">
    <div class="card bg-white">
        <div class="card-header">
            <h5 class="card-title">Basic tabs</h5>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#basictab2" data-bs-toggle="tab">Home-Banner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#basictab3" data-bs-toggle="tab">New-arrivals-Banner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#basictab4" data-bs-toggle="tab">Product-Banner</a>
                </li>
            </ul>
            <div class="tab-content">

                <div class="tab-pane show active" id="basictab2">
                    <div class="row">
                        {% for h in all_home_banner %}
                        <div class="col-lg-6">
                            <div class="card invoices-grid-card">
                                <a href="">
                                    <img class="avatars text-center images me-2 avatar-img " height="auto" src="{{h.banner.url}}" alt="User Image"> 
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="tab-pane show" id="basictab3">
                    <div class="row">
                        {% for n in all_new_banner %}
                        <div class="col-lg-6">
                            <div class="card invoices-grid-card">
                                <a href="">
                                    <img class="avatars text-center images me-2 avatar-img " height="auto" src="{{n.banner.url}}" alt="User Image"> 
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="tab-pane show" id="basictab4">
                    <div class="row">
                        {% for p in all_prd_banner %}
                        <div class="col-lg-6">
                            <div class="card invoices-grid-card">
                                <a href="">
                                    <img class="avatars text-center images me-2 avatar-img " height="auto" src="{{p.banner.url}}" alt="User Image"> 
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>





<!-- Home -->
<div class="modal custom-modal fade invoices-preview" id="home-page" role="dialog" name="fbanner">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card invoice-info-card">
                            <div class="card-header">
                                <h5 class="card-title">Add home</h5>
                            </div>
                            <div class="card-body pb-0">
                                <form action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">File Input</label>
                                        <div class="col-md-8">
                                            <input class="form-control" required type="file" name="home-image">
                                        </div>
                                    </div>
                                    <div class="text-end mt-4">
                                        <button type="submit" class="btn btn-primary">Add Banner</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- new -->
<div class="modal custom-modal fade invoices-preview" id="new-page" role="dialog" name="fbanner">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card invoice-info-card">
                            <div class="card-header">
                                <h5 class="card-title">Add New arrivals</h5>
                            </div>
                            <div class="card-body pb-0">
                                <form action="{% url 'official:newbanner' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">File Input</label>
                                        <div class="col-md-8">
                                            <input class="form-control" required type="file" name="new-image">
                                        </div>
                                    </div>
                                    <div class="text-end mt-4">
                                        <button type="submit" class="btn btn-primary">Add Banner</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- prd -->
<div class="modal custom-modal fade invoices-preview" id="product-page" role="dialog" name="fbanner">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card invoice-info-card">
                            <div class="card-header">
                                <h5 class="card-title">Add Product</h5>
                            </div>
                            <div class="card-body pb-0">
                                <form action="{% url 'official:productbanner' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">File Input</label>
                                        <div class="col-md-8">
                                            <input class="form-control" required type="file" name="prd-image">
                                        </div>
                                    </div>
                                    <div class="text-end mt-4">
                                        <button type="submit" class="btn btn-primary">Add Banner</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
