{% extends 'official/partials/base.html' %}
{% load static %}
{% block content %}


<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Customers</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'official:officialhome' %}">Dashboard /</a>
                </li>
                <li class="active">&nbsp;Customers</li>
            </ul>
        </div>
        <div class="col-auto">
            <a href="{% url 'official:newuserreg' %}" class="btn btn-primary me-1">
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-center table-hover datatable">
                        <thead class="thead-light">
                            <tr>
                                <th>Customer</th>
                                <th>Email</th>
                                <th>Registered On</th>
                                <th>Status</th>
                                <th class="text-end">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for shop in all_shops %}
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        {% if shop.logo == '' %}
                                        <a href="" class="avatar me-2"><img
                                            class="avatar-img rounded-circle"
                                            src="{% static 'web/img/profiles/pro.jpg' %}"
                                            alt="User Image"></a>
                                        {% else %}
                                        <a href="" class="avatar me-2"><img
                                                class="avatar-img rounded-circle"
                                                src="{{shop.logo.url}}"
                                                alt="User Image"></a>
                                        {% endif %}
                                        <a href="">{{shop.shop_name}} <span>{{shop.phone}}</span></a>
                                    </h2>
                                </td>
                                <td><a href="">{{shop.email}}</a>
                                </td>
                                <td>{{shop.date|date:"d - m - y"}}</td>
                                <td><span class="badge badge-pill bg-success-light">Active</span></td>
                                <td class="text-end">
                                    <a href="edit-customer.html"
                                        class="btn btn-sm btn-white text-primary me-2"><i
                                            class="far fa-edit me-1"></i> View</a>
                                    <a href="edit-customer.html"
                                        class="btn btn-sm btn-white text-success me-2"><i
                                            class="far fa-edit me-1"></i> Edit</a>
                                    <a href="javascript:void(0);"
                                        class="btn btn-sm btn-white text-danger me-2"><i
                                            class="far fa-trash-alt me-1"></i>Delete</a>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}