{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Aaha Collections</title>

    <link rel="shortcut icon" href="{% static 'menucard/images/logo/aha1.png' %}">

    <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'web/plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/plugins/fontawesome/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
</head>

<body>

    <!-- messages -->
    {% if messages %}

    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}

    div class="alert alert-success alert-dismissible fade show">
        <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
            stroke-linecap="round" stroke-linejoin="round" class="me-2">
            <polyline points="9 11 12 14 22 4"></polyline>
            <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
        </svg>
        <strong></strong> {{ message }} .
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
        </button>
    </div>
    {% endif %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

    <div class="alert alert-danger alert-dismissible fade show">
        <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
            stroke-linecap="round" stroke-linejoin="round" class="me-2">
            <polyline points="9 11 12 14 22 4"></polyline>
            <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
        </svg>
        <strong class="text-center">Error</strong> <span class="text-center">{{ message }} </span>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
        </button>
    </div>

    {% endif %}
    {% endfor %}
    {% endif %}

    <div class="main-wrapper login-body"> 
        
        <div class="login-wrapper">
            <div class="container">
                <div class="loginbox">

                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Login</h1>
                            <p class="account-subtitle">Access to our dashboard</p>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="form-control-label">Phone Number</label>
                                    <input type="text" name="phone" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Password</label>
                                    <div class="pass-group">
                                        <input type="password" required class="form-control pass-input" name="password">
                                        <span class="fas fa-eye toggle-password"></span>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" required class="custom-control-input" id="cb1">
                                                <label class="custom-control-label" for="cb1">Remember me</label>
                                            </div>
                                        </div>
                                        <div class="col-6 text-end">
                                            <a class="forgot-link" href="forgot-password.html">Forgot Password ?</a>
                                        </div>
                                    </div>
                                </div> -->
                                <button class="btn btn-lg btn-block btn-primary w-100" type="submit">Login</button>




                                <div class="text-center dont-have">Don't have an account yet? <a
                                        href="{% url 'website:registration' %}">Register</a></div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="{% static 'web/js/jquery-3.6.0.min.js' %}"></script>

    <script src="{% static 'web/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'web/js/feather.min.js' %}"></script>

    <script src="{% static 'web/js/script.js' %}"></script>
</body>

</html>