{% extends 'shop/partials/base.html' %}
{% load static %}
{% block content %}


<style>
    /*  */
    .profile-img-wrap.edit-img {
        border-radius: 50%;
        margin: 0 auto 30px;
        position: relative;
    }

    .profile-img-wrap {
        height: 120px;
        position: absolute;
        width: 120px;
        background: #ffffff;
        overflow: hidden;
    }

    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }

    .profile-img-wrap .fileupload {
        background: rgba(33, 33, 33, 0.5);
        border: none;
        padding: 3px 10px;
        border-radius: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .profile-img-wrap .fileupload .btn-text {
        color: #ffffff;
    }

    .profile-img-wrap .fileupload .upload {
        cursor: pointer;
        filter: alpha(opacity=0);
        font-size: 20px;
        opacity: 0;
        margin: 0;
        padding: 5px;
        position: absolute;
        top: -3px;
        right: -3px;
    }
</style>





<div class="page-header">
    <div class="row">
        <div class="col-sm-6">
            <h3 class="page-title">Add Product </h3>
            <ul class="breadcrumb">
                <li class=""><a href="{% url 'shop:shophome' %}">Dashboard / </a></li>
                <li class=""><a href="{% url 'shop:addcategory' %}">&nbsp;Add Category / </a></li>
                <li class="breadcrumb-item active">&nbsp;Add Product</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div class="card invoices-tabs-card">
            <div class="card-body card-body pt-0 pb-0">
                <div class="invoices-main-tabs border-0 pb-0">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="invoices-settings-btn invoices-settings-btn-one">
                                <a href="" class="btn"  data-bs-toggle="modal" data-bs-target="#add_product">
                                    <i class="fa fa-plus-circle"></i>&nbsp;&nbsp; New product
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    {% for product in all_product %}
    <div class="col-sm-6 col-lg-4 col-xl-3 d-flex">
        <div class="card invoices-grid-card w-100">
            <div class="card-header d-flex justify-content-between align-items-center">
                <a href="" class="invoice-grid-link">{{product.product_id|upper}}</a>
                <div class="dropdown dropdown-action">
                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- <a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#edit_product">
                            <i class="far fa-edit me-2"></i>Edit</a> -->
                        <a class="dropdown-item" onclick="productGet({{product.id}})" data-bs-toggle="modal" data-bs-target="#product_preview">
                            <i class="far fa-eye me-2"></i>View</a>
                        <a class="dropdown-item" data-bs-toggle="modal" onclick="DataGets({{product.id}})" data-bs-target="#edit_product">
                            <i class="far fa-edit me-2"></i>Edit</a>
                        <a class="dropdown-item" onclick="deleteproduct({{product.id}})"><i
                                class="far fa-trash-alt me-2"></i>Delete</a>
                    </div>
                </div>
            </div>
            <div class="card-middle text-center">
                <h2 class="card-middle-avatar text-center">
                    <a href="">
                        <img class="avatar text-center avatar-sm images me-2 avatar-img " src="{{product.image.url}}" alt="User Image"> 
                    </a>
                </h2>
            </div>
            <div class="card-footer">
                <div class="row ">
                    <div class="col-auto">
                        <p class="">{{product.name|capfirst}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>


<!-- ADD PRODUCT -->
<div class="modal custom-modal fade invoices-preview" id="add_product" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card invoice-info-card">
                            <div class="card-header">
                                <h5 class="card-title">Add Product</h5>
                            </div>
                            <div class="card-body pb-0">
                                <form action="#" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">Product ID</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="p_id">
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">Product Name</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="p_name">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">Price</label>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control" name="p_price">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">Size Available</label>
                                        <div class="col-md-8">
                                            <span>Size added with ',',(eg:S,M,L)</span>
                                            <input type="text" class="form-control" name="p_size">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">Description</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="p_descriptions">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">Product Details</label>
                                        <div class="col-md-8">
                                            <textarea id="mytextarea" cols="15" rows="10" class="form-control" name="p_details">
                                            </textarea>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">Product Image</label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="file" name="p_image">
                                        </div>
                                    </div>

                            
                                    <input type="checkbox" name="new_arrival" name="new_arrivals"> New Arrival

                                    <div class="text-end mt-4">
                                        <button type="submit" class="btn btn-primary">Add Product</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- EDIT PRODUCT -->
<div class="modal custom-modal fade invoices-preview" id="edit_product" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card invoice-info-card">
                            <div class="card-header">
                                <h5 class="card-title">Edit Product</h5>
                            </div>
                            <div class="card-body pb-0">
                                <form action="{% url 'shop:editproduct' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <div class="form-group row">
                                        <div class="profile-img-wrap edit-img">
                                            <img class="inline-block" src="" id="productimage" alt="user">
                                            <div class="fileupload btn">
                                                <span class="btn-text">edit</span>
                                                <input class="upload" name="productphoto" type="file" id="productphoto">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">Product Id</label>
                                        <div class="col-md-8">
                                            <input type="text" id="productid" class="form-control" readonly name="productid">
                                        </div>
                                    </div>

                                    <input type="text" id="pkid" name="pkid" hidden>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">Product Name</label>
                                        <div class="col-md-8">
                                            <input type="text" id="productname" class="form-control" name="productname">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">Price</label>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control" id="productprice" name="productprice">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">Size</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="productsize" name="productsize">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">Description</label>
                                        <div class="col-md-8">
                                            <textarea name="productdescription" id="productdescription" cols="15" rows="10" class="form-control">
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic necessitatibus ducimus ipsa. Aut, eum qui aliquid quaerat rerum sit sint iusto cupiditate non hic, ducimus praesentium obcaecati neque? Sed, minima.
                                            </textarea>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">Details</label>
                                        <div class="col-md-8">
                                            <textarea name="productdetails" id="productdetails" cols="15" rows="10" class="form-control">
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic necessitatibus ducimus ipsa. Aut, eum qui aliquid quaerat rerum sit sint iusto cupiditate non hic, ducimus praesentium obcaecati neque? Sed, minima.
                                            </textarea>
                                        </div>
                                    </div>

                                    <div class="text-end mt-4">
                                        <button type="submit" class="btn btn-primary">Edit Product</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- PRODUCT VIEW MODAL -->
<div class="modal custom-modal fade invoices-preview" id="product_preview" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card invoice-info-card">
                            <div class="card-body pb-0">
                                <div class="invoice-item invoice-item-one">
                                    <div class="row">
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="invoice-info">
                                                <div class="invoice-head">
                                                    <h2 class="text-primary" id="prdid">Butter Shake</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="invoice-item invoice-item-bg">
                                    <div class="invoice-circle-img">
                                        <img src="{% static 'web/img/invoice-circle1.png' %}" alt=""
                                            class="invoice-circle1">
                                        <img src="{% static 'web/img/invoice-circle2.png' %}" alt=""
                                            class="invoice-circle2">
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-12">
                                            <div class="invoice-info">
                                                <img class="avatar text-center avatar-sm me-2 avatar-img " id="proimage" style="height: auto;" alt="User Image"> 
                                            </div>
                                        </div>
                                        <div class="col-lg-9 col-md-12">
                                            <strong class="customer-text-one">Product</strong>
                                            <h6 class="invoice-name">Name & : <span id="prname"></span></h6>
                                            <p class="invoice-details invoice-details-two">price : <span id="prprice"></span><br></p>
                                            <p class="invoice-details invoice-details-two">Size : <span id="size"></span></p>
                                            <p class="invoice-details invoice-details-two">Date : <span id="date"></span></p>
                                            <strong class="customer-text-one">Description</strong>
                                            <!-- <h6 class="invoice-name">Lorem ipsum dolor sit amet </h6> -->
                                            <p class="invoice-details invoice-details-two" id="description"> </p>
                                            <strong class="customer-text-one">Details</strong>
                                            <p id="details"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.tiny.cloud/1/nklzzr80nbh42fu5eby0d4ipfkv57tp61il9if12c53ie9le/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: "#mytextarea"
    });
    
    function productGet(id) {
        $.ajax({
            url: "/shop/view-product/" +id,
            type: 'GET',

            success: function (responce) {
                $('#prdid').html(responce.pid)
                $('#prname').html(responce.name)
                $('#prprice').html(responce.price)
                $('#size').html(responce.size)
                $('#description').html(responce.description)
                $('#details').html(responce.product_details)
                $('#date').html(responce.date)
                $('#proimage').attr("src", responce.image)

            }

        })

    }

    // edit
    function DataGets(id) {
        $.ajax({
            url: "/shop/get-product/" + id,
            type: 'GET',

            success: function (responce) {
                $('#pkid').val(responce.id)
                $('#productid').val(responce.product_id)
                $('#productname').val(responce.name)
                $('#productprice').val(responce.price)
                $('#productsize').val(responce.size)
                $('#productdescription').val(responce.description)
                $('#productdetails').val(responce.product_details)
                $('#productimage').attr("src", responce.image)
                // $('#bpk'+id).val(responce.value.id)

            }

        })

    }
</script>


{% endblock %}