{% extends 'shop/partials/base.html' %}
{% load static %}
{% block content %}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">New Arrivals</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard  / </a></li>
                <li class="active"> New Arrivals</li>
            </ul>
        </div>
    </div>
</div>


<div class="row">

    {% for product in hot_deal_products %}
    <div class="col-sm-6 col-lg-4 col-xl-3 d-flex">
        <div class="card invoices-grid-card w-100">
            <div class="card-header d-flex justify-content-between align-items-center">
                <a href="" class="invoice-grid-link">{{product.product.name|capfirst}}</a>
            </div>
            
            <div class="card-middle">
                <img class="avatar avatar-sm me-2 avatar-img" src="{{product.product.image.url}}" alt="User Image">
            </div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">
                        <span><i class="far fa-money-bill-alt"></i> Amount</span>
                        <h6 class="mb-0">{{product.product.price}}</h6>
                    </div>
                    <div class="col-auto">
                        <span><i class="far fa-calendar-alt"></i> Added Date</span>
                        <h6 class="mb-0">{{product.product.date}}</h6>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col">
                        <span><i class="far fa-money-bill-alt"></i>Hot-deal Amount</span>
                        <h6 class="mb-0">{{product.price}}</h6>
                    </div>
                    <div class="col-auto">
                        <span><i class="far fa-calendar-alt"></i> Added Date</span>
                        <h6 class="mb-0">{{product.date}}</h6>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="badge bg-success-dark">  <a href="" style="color: #fff;">Change Hot Deals Price</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>



{% endblock %}