{% extends 'collection/partials/base.html' %}
{% load static %}
{% block content %}


<!--section start-->
<section class="contact-page section-b-space">
    <div class="container">
        <div class="row section-b-space">
            <div class="col-lg-7 map">
                {% autoescape off %}
                <iframe src="{{social_link.iframe|safe|striptags}}" frameborder="0"></iframe>
                {% endautoescape %}
            </div>
            <div class="col-lg-5">
                <div class="contact-right">
                    <ul>
                        <li>
                            <div class="contact-icon"><img src="{% static 'collection/images/icon/phone.png' %}"
                                    alt="Generic placeholder image">
                                <h6>Contact Us</h6>
                            </div>
                            <div class="media-body">
                                <p>{{shop_obj.phone}}</p>
                                <!-- <p>+86 163 - 451 - 7894</p> -->
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                <h6>Address</h6>
                            </div>
                            <div class="media-body">
                                <p>{{shop_obj.address}}</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon"><img src="{% static 'collection/images/icon/email.png' %}"
                                    alt="Generic placeholder image">
                                <h6>Address</h6>
                            </div>
                            <div class="media-body">
                                <p>{{shop_obj.email}}</p>
                                <!-- <p>info@shopcart.com</p> -->
                            </div>
                        </li>
                        <!-- <li>
                            <div class="contact-icon"><i class="fa fa-fax" aria-hidden="true"></i>
                                <h6>Fax</h6>
                            </div>
                            <div class="media-body">
                                <p>Support@Shopcart.com</p>
                                <p>info@shopcart.com</p>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form class="theme-form" method="POST">
                    {% csrf_token %}
                    <div class="form-row row">
                        <div class="col-md-6">
                            <label for="name">First Name</label>
                            <input type="text" class="form-control"  id="firstname" name="firstname" placeholder="Enter Your Firstname"
                                required>
                        </div>
                        <div class="col-md-6">
                            <label for="email">Last Name</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" required placeholder="Last Name">
                        </div>
                        <div class="col-md-6">
                            <label for="review">Phone number</label>
                            <input type="text" class="form-control" id="phone" name="phone" required placeholder="Enter your number">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" required name="email" placeholder="Email">
                        </div>
                        <div class="col-md-12">
                            <label for="review">Write Your Message</label>
                            <textarea class="form-control" required placeholder="Write Your Message"
                                id="address" rows="6" name="address"></textarea>
                        </div>
                        <div class="col-md-12">
                            <a  href="" class="btn-solid btn" onclick="Contact()">Send Your Message</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function Contact(){
        alert()
        $.ajax({
            
            url:'/collection/contactdata/',
            type:'POST',
            data: {
                'firstname': $('#firstname').val(),
                'lastname': $('#lastname').val(),
                'email': $('#email').val(),
                'phone': $('#phone').val(),
                'address': $('#address').val(),
            },
            success: function (responce) {
                alert(responce.link)
                window.location.href = responce.link
            }
        })
    }
</script>


{% endblock %}