{% extends 'collection/partials/base.html' %}
{% load static %}
{% block content %}



<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>collection</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">collection</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->


<!-- product listing section start -->
<section class="section-b-space ratio_square category-shop-section">
    <div class="collection-wrapper">
        <div class="container">
            <a href="javascript:void(0)" class="d-xl-none d-inline-block category-mobile-button"><i
                    class="fa fa-bars"></i> Category</a>
            <div class="row">
                <div class="col-xl-3">
                    <div class="sidebar-overlay"></div>
                    <div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link d-xl-none d-block sidebar-back">Back</a>
                        <a class="nav-link active" data-bs-toggle="pill" data-bs-target="#grocery" role="tab">Grocery &
                            Staples</a>
                        <a class="nav-link" data-bs-toggle="pill" data-bs-target="#vegetables" role="tab">Vegetables</a>
                        <a class="nav-link" data-bs-toggle="pill" data-bs-target="#dairy" role="tab">Dairy items</a>
                        <a class="nav-link" data-bs-toggle="pill" data-bs-target="#meat" role="tab">Eggs, Meat,
                            Fish</a>
                        <a class="nav-link" data-bs-toggle="pill" data-bs-target="#drinks" role="tab">cold drinks &
                            juices</a>
                        <a class="nav-link" data-bs-toggle="pill" data-bs-target="#cleaning" role="tab">cleaning
                            products</a>
                        <a class="nav-link" data-bs-toggle="pill" data-bs-target="#organic" role="tab">organic
                            items</a>
                        <a class="nav-link" data-bs-toggle="pill" data-bs-target="#snacks" role="tab">biscuits &
                            snacks</a>
                        <a class="nav-link" data-bs-toggle="pill" data-bs-target="#household" role="tab">household
                            items</a>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="product-wrapper-grid">
                        <div class="row margin-res">
                            <div class="col-xl-3 col-6 col-grid-box">
                                <div class="product-box">
                                    <div class="img-wrapper">
                                        <div class="front">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/35.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/35.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="back">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/36.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/36.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="cart-info cart-wrap">
                                            <button data-bs-toggle="modal" data-bs-target="#addtocart"
                                                title="Add to cart"><i class="ti-shopping-cart"></i></button> <a
                                                href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart"
                                                    aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal"
                                                data-bs-target="#quick-view" title="Quick View"><i class="ti-search"
                                                    aria-hidden="true"></i></a> <a href="compare.html"
                                                title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div>
                                            <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                    class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                    class="fa fa-star"></i></div>
                                            <a href="product-page(no-sidebar).html">
                                                <h6>Candy red solid tshirt</h6>
                                            </a>
                                            <h4>$45.00</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-6 col-grid-box">
                                <div class="product-box">
                                    <div class="img-wrapper">
                                        <div class="front">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/27.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/27.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="back">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/28.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/28.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="cart-info cart-wrap">
                                            <button data-bs-toggle="modal" data-bs-target="#addtocart"
                                                title="Add to cart"><i class="ti-shopping-cart"></i></button> <a
                                                href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart"
                                                    aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal"
                                                data-bs-target="#quick-view" title="Quick View"><i class="ti-search"
                                                    aria-hidden="true"></i></a> <a href="compare.html"
                                                title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>Purple polo tshirt</h6>
                                        </a>
                                        <p>Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the
                                            industry's standard dummy text ever since the 1500s,
                                            when an unknown printer took a galley
                                            of type and scrambled it to make a type specimen book
                                        </p>
                                        <h4>$40.00</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-6 col-grid-box">
                                <div class="product-box">
                                    <div class="img-wrapper">
                                        <div class="front">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/1.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/1.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="back">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/2.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/2.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="cart-info cart-wrap">
                                            <button data-bs-toggle="modal" data-bs-target="#addtocart"
                                                title="Add to cart"><i class="ti-shopping-cart"></i></button> <a
                                                href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart"
                                                    aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal"
                                                data-bs-target="#quick-view" title="Quick View"><i class="ti-search"
                                                    aria-hidden="true"></i></a> <a href="compare.html"
                                                title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>Sleevless white top</h6>
                                        </a>
                                        <p>Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the
                                            industry's standard dummy text ever since the 1500s,
                                            when an unknown printer took a galley
                                            of type and scrambled it to make a type specimen book
                                        </p>
                                        <h4>$65.00</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-6 col-grid-box">
                                <div class="product-box">
                                    <div class="img-wrapper">
                                        <div class="front">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/33.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/33.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="back">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/34.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/34.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="cart-info cart-wrap">
                                            <button data-bs-toggle="modal" data-bs-target="#addtocart"
                                                title="Add to cart"><i class="ti-shopping-cart"></i></button> <a
                                                href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart"
                                                    aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal"
                                                data-bs-target="#quick-view" title="Quick View"><i class="ti-search"
                                                    aria-hidden="true"></i></a> <a href="compare.html"
                                                title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>multi color polo tshirt</h6>
                                        </a>
                                        <p>Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the
                                            industry's standard dummy text ever since the 1500s,
                                            when an unknown printer took a galley
                                            of type and scrambled it to make a type specimen book
                                        </p>
                                        <h4>$65.00</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-6 col-grid-box">
                                <div class="product-box">
                                    <div class="img-wrapper">
                                        <div class="front">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/27.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/27.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="back">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/28.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/28.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="cart-info cart-wrap">
                                            <button data-bs-toggle="modal" data-bs-target="#addtocart"
                                                title="Add to cart"><i class="ti-shopping-cart"></i></button> <a
                                                href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart"
                                                    aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal"
                                                data-bs-target="#quick-view" title="Quick View"><i class="ti-search"
                                                    aria-hidden="true"></i></a> <a href="compare.html"
                                                title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>Purple polo tshirt</h6>
                                        </a>
                                        <p>Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the
                                            industry's standard dummy text ever since the 1500s,
                                            when an unknown printer took a galley
                                            of type and scrambled it to make a type specimen book
                                        </p>
                                        <h4>$40.00</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-6 col-grid-box">
                                <div class="product-box">
                                    <div class="img-wrapper">
                                        <div class="front">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/35.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/35.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="back">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/36.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/36.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="cart-info cart-wrap">
                                            <button data-bs-toggle="modal" data-bs-target="#addtocart"
                                                title="Add to cart"><i class="ti-shopping-cart"></i></button> <a
                                                href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart"
                                                    aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal"
                                                data-bs-target="#quick-view" title="Quick View"><i class="ti-search"
                                                    aria-hidden="true"></i></a> <a href="compare.html"
                                                title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>Candy red solid tshirt</h6>
                                        </a>
                                        <p>Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the
                                            industry's standard dummy text ever since the 1500s,
                                            when an unknown printer took a galley
                                            of type and scrambled it to make a type specimen
                                            book</p>
                                        <h4>$45.00</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-6 col-grid-box">
                                <div class="product-box">
                                    <div class="img-wrapper">
                                        <div class="front">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/27.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/27.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="back">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/28.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/28.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="cart-info cart-wrap">
                                            <button data-bs-toggle="modal" data-bs-target="#addtocart"
                                                title="Add to cart"><i class="ti-shopping-cart"></i></button> <a
                                                href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart"
                                                    aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal"
                                                data-bs-target="#quick-view" title="Quick View"><i class="ti-search"
                                                    aria-hidden="true"></i></a> <a href="compare.html"
                                                title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>Purple polo tshirt</h6>
                                        </a>
                                        <p>Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the
                                            industry's standard dummy text ever since the 1500s,
                                            when an unknown printer took a galley
                                            of type and scrambled it to make a type specimen book
                                        </p>
                                        <h4>$40.00</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-6 col-grid-box">
                                <div class="product-box">
                                    <div class="img-wrapper">
                                        <div class="front">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/1.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/1.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="back">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/2.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/2.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="cart-info cart-wrap">
                                            <button data-bs-toggle="modal" data-bs-target="#addtocart"
                                                title="Add to cart"><i class="ti-shopping-cart"></i></button> <a
                                                href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart"
                                                    aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal"
                                                data-bs-target="#quick-view" title="Quick View"><i class="ti-search"
                                                    aria-hidden="true"></i></a> <a href="compare.html"
                                                title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>Sleevless white top</h6>
                                        </a>
                                        <p>Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the
                                            industry's standard dummy text ever since the 1500s,
                                            when an unknown printer took a galley
                                            of type and scrambled it to make a type specimen book
                                        </p>
                                        <h4>$65.00</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-6 col-grid-box">
                                <div class="product-box">
                                    <div class="img-wrapper">
                                        <div class="front">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/27.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/27.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="back">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/28.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/28.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="cart-info cart-wrap">
                                            <button data-bs-toggle="modal" data-bs-target="#addtocart"
                                                title="Add to cart"><i class="ti-shopping-cart"></i></button> <a
                                                href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart"
                                                    aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal"
                                                data-bs-target="#quick-view" title="Quick View"><i class="ti-search"
                                                    aria-hidden="true"></i></a> <a href="compare.html"
                                                title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>Purple polo tshirt</h6>
                                        </a>
                                        <p>Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the
                                            industry's standard dummy text ever since the 1500s,
                                            when an unknown printer took a galley
                                            of type and scrambled it to make a type specimen book
                                        </p>
                                        <h4>$40.00</h4>

                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-6 col-grid-box">
                                <div class="product-box">
                                    <div class="img-wrapper">
                                        <div class="front">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/1.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/1.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="back">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/2.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/2.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="cart-info cart-wrap">
                                            <button data-bs-toggle="modal" data-bs-target="#addtocart"
                                                title="Add to cart"><i class="ti-shopping-cart"></i></button> <a
                                                href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart"
                                                    aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal"
                                                data-bs-target="#quick-view" title="Quick View"><i class="ti-search"
                                                    aria-hidden="true"></i></a> <a href="compare.html"
                                                title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>Sleevless white top</h6>
                                        </a>
                                        <p>Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the
                                            industry's standard dummy text ever since the 1500s,
                                            when an unknown printer took a galley
                                            of type and scrambled it to make a type specimen book
                                        </p>
                                        <h4>$65.00</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-6 col-grid-box">
                                <div class="product-box">
                                    <div class="img-wrapper">
                                        <div class="front">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/33.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/33.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="back">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/34.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/34.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="cart-info cart-wrap">
                                            <button data-bs-toggle="modal" data-bs-target="#addtocart"
                                                title="Add to cart"><i class="ti-shopping-cart"></i></button> <a
                                                href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart"
                                                    aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal"
                                                data-bs-target="#quick-view" title="Quick View"><i class="ti-search"
                                                    aria-hidden="true"></i></a> <a href="compare.html"
                                                title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>multi color polo tshirt</h6>
                                        </a>
                                        <p>Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the
                                            industry's standard dummy text ever since the 1500s,
                                            when an unknown printer took a galley
                                            of type and scrambled it to make a type specimen book
                                        </p>
                                        <h4>$65.00</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-6 col-grid-box">
                                <div class="product-box">
                                    <div class="img-wrapper">
                                        <div class="front">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/1.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/1.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="back">
                                            <a href="#" class="bg-size blur-up lazyloaded"
                                                style="background-image: url(&quot;{% static 'collection/images/pro3/2.jpg' %}&quot;); background-size: cover; background-position: center center; display: block;"><img
                                                    src="{% static 'collection/images/pro3/2.jpg' %}"
                                                    class="img-fluid blur-up lazyload bg-img" alt=""
                                                    style="display: none;"></a>
                                        </div>
                                        <div class="cart-info cart-wrap">
                                            <button data-bs-toggle="modal" data-bs-target="#addtocart"
                                                title="Add to cart"><i class="ti-shopping-cart"></i></button> <a
                                                href="javascript:void(0)" title="Add to Wishlist"><i class="ti-heart"
                                                    aria-hidden="true"></i></a> <a href="#" data-bs-toggle="modal"
                                                data-bs-target="#quick-view" title="Quick View"><i class="ti-search"
                                                    aria-hidden="true"></i></a> <a href="compare.html"
                                                title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                class="fa fa-star"></i>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        </div>
                                        <a href="product-page(no-sidebar).html">
                                            <h6>Sleevless white top</h6>
                                        </a>
                                        <p>Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem Ipsum has been the
                                            industry's standard dummy text ever since the 1500s,
                                            when an unknown printer took a galley
                                            of type and scrambled it to make a type specimen book
                                        </p>
                                        <h4>$65.00</h4>
                                        <ul class="color-variant">
                                            <li class="bg-light0"></li>
                                            <li class="bg-light1"></li>
                                            <li class="bg-light2"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product listing section end -->




{% endblock %}